.big-icon
  background: transparent url('../images/big-icons-rwd.png') 0 0 no-repeat
  display: inline-block
  width: 96px
  height: 96px
  &__gear
    background-position: 0 0
  &__setup
    background-position: -101px 0
  &__link
    background-position: -202px 0
  &__person1
    background-position: 0 -100px
  &__person2
    background-position: -100px -100px
  &__person3
    background-position: -202px -100px

@mixin rwd768-big-icon()
  .big-icon
    background: transparent url('../images/big-icons.png') 0 0 no-repeat
    display: inline-block
    width: 197px
    height: 197px
    &__gear
      background-position: 0 0
    &__setup
      background-position: -207px 0
    &__link
      background-position: -415px 0
    &__person1
      background-position: 0 -206px
    &__person2
      background-position: -208px -206px
    &__person3
      background-position: -416px -206px