
.content-style
  h1, h2, h3, h4, h5, h6
    font-family: 'Hind', Arial, "Helvetica Neue", Helvetica, sans-serif
    font-weight: 300
  p
    font-family: 'Hind', Arial, "Helvetica Neue", Helvetica, sans-serif
    font-size: 14px
    font-weight: 300
    line-height: 1.6
    margin-bottom: 20px
  strong
    font-weight: 600
  .text-intro
    h1, h2, h3, h4, h5, h6
      margin: 40px 0
    p
      padding: 0 20px