input[type="text"], textarea
  padding: 6px 8px
  font-family: 'Hind', Arial, "Helvetica Neue", Helvetica, sans-serif
  font-size: 14px
  color: #000
  line-height: normal
input[type="submit"]
  font-weight: bold
  padding: 10px 28px
  margin: 0
  border: 0
  transition: all 0.3s ease 0s
  opacity: 1
  &:hover
    opacity: 0.75