.voffset
  margin-top: 2px
.voffset1
  margin-top: 5px
.voffset2
  margin-top: 10px
.voffset3
  margin-top: 15px
.voffset4
  margin-top: 30px
.voffset5
  margin-top: 40px
.voffset6
  margin-top: 60px
.voffset7
  margin-top: 80px
.voffset8
  margin-top: 100px
.voffset9
  margin-top: 150px
.voffset2--bottom
  margin-bottom: 10px
.voffset3--bottom
  margin-bottom: 15px
.voffset4--bottom
  margin-bottom: 30px
.voffset5--bottom
  margin-bottom: 40px
.voffset6--bottom
  margin-bottom: 60px