.main-footer
  padding-bottom: 30px
  padding-top: 30px
  line-height: 2
  .col-social
    text-align: center
    margin-top: 20px

@mixin rwd768-main-footer()
  .main-footer
    line-height: 1.4

@mixin rwd992-main-footer()
  .main-footer
    .col-social
      text-align: right
      margin-top: 0