.sticky-header
  background-color: #fff
  position: fixed
  top: 0
  z-index: 9
  width: 100%
  &--fixed
    box-shadow: 0 5px 3px 0px rgba(0, 0, 0, 0.4)
    .main-header
      padding-bottom: 10px
      padding-top: 10px

.main-header
  padding-top: 26px
  padding-bottom: 26px
  -webkit-transition: padding 0.1s
  -moz-transition: padding 0.1s
  -ms-transition: padding 0.1s
  -o-transition: padding 0.1s
  transition: padding 0.1s



.main-header-toggle
  width: 30px
  height: 20px
  position: relative
  -webkit-transform: rotate(0deg)
  -moz-transform: rotate(0deg)
  -o-transform: rotate(0deg)
  transform: rotate(0deg)
  -webkit-transition: .5s ease-in-out
  -moz-transition: .5s ease-in-out
  -o-transition: .5s ease-in-out
  transition: .5s ease-in-out
  cursor: pointer
  span
    display: block
    position: absolute
    height: 4px
    width: 100%
    background: #000
    border-radius: 9px
    opacity: 1
    left: 0
    -webkit-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
    -webkit-transition: .25s ease-in-out
    -moz-transition: .25s ease-in-out
    -o-transition: .25s ease-in-out
    transition: .25s ease-in-out
  span:nth-child(1)
    top: 0px

  span:nth-child(2),
  span:nth-child(3)
    top: 8px

  span:nth-child(4)
    top: 16px

  &.open
    span:nth-child(1)
      top: 18px
      width: 0%
      left: 50%
    span:nth-child(2)
      -webkit-transform: rotate(45deg)
      -moz-transform: rotate(45deg)
      -o-transform: rotate(45deg)
      transform: rotate(45deg)
    span:nth-child(3)
      -webkit-transform: rotate(-45deg)
      -moz-transform: rotate(-45deg)
      -o-transform: rotate(-45deg)
      transform: rotate(-45deg)
    span:nth-child(4)
      top: 18px
      width: 0%
      left: 50%


