.main-menu
  position: relative
  top: 3px
  margin: 0
  padding: 0
  li
    list-style: none
  &--active
    a
      color: #ffd500
  a
    font-family: 'Ubuntu', Arial, "Helvetica Neue", Helvetica, sans-serif
    color: #000000
    text-decoration: none
    font-size: 14px
    -webkit-transition: color .2s
    transition: color .2s
    font-weight: bold
    &:hover
      color: #ffd500
  &--desktop
    li
      display: block
      padding-bottom: 5px
      &:last-child
        padding-right: 0
  &--mobile
    max-height: 0
    -moz-transition: 1s
    -ms-transition: 1s
    -o-transition: 1s
    -webkit-transition: 1s
    transition: 1s
    overflow: hidden
    li
      display: block
      border-bottom: 1px solid #000
      padding: 14px 0
    &.open
      max-height: 999px

@mixin rwd768-main-menu()
  .main-menu
    &--desktop
      li
        display: inline
        padding-right: 26px
        padding-bottom: 5px