
// ------------------------------------------------------------
// ------------------------ helpers ---------------------------
// ------------------------------------------------------------
.wide-bg--overflow
  overflow: hidden
  width: 100%


@mixin rwd768-wide-bg--lg-voffset-170()
  .wide-bg--lg-voffset-170
    margin-top: -170px


// ------------------------------------------------------------
// ------------------------- blue -----------------------------
// ------------------------------------------------------------
.wide-bg__blue
  background: #3a82ce
  background: -moz-linear-gradient(-45deg, #3a82ce 0%, #14378c 100%)
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3a82ce), color-stop(100%,#14378c))
  background: -webkit-linear-gradient(-45deg, #3a82ce 0%,#14378c 100%)
  background: -o-linear-gradient(-45deg, #3a82ce 0%,#14378c 100%)
  background: -ms-linear-gradient(-45deg, #3a82ce 0%,#14378c 100%)
  background: linear-gradient(135deg, #3a82ce 0%,#14378c 100%)
  color: #fff
  position: relative
  padding-top: 30px


@mixin rwd768-wide-bg__blue()
  .wide-bg__blue
    padding-top: 96px
    padding-bottom: 240px
    &:before
      content: ''
      position: absolute
      left: 0
      bottom: 0
      border-right: 100vw solid transparent
      border-bottom: 100px solid #fff



// ------------------------------------------------------------
// --------------------- white straight -----------------------
// ------------------------------------------------------------
.wide-bg__white-straight
  position: relative
  z-index: 3
  &__inner
    padding-top: 30px
    padding-bottom: 30px


// ------------------------------------------------------------
// ------------------------- white ----------------------------
// ------------------------------------------------------------
.wide-bg__white
  position: relative
  &__inner
    background: #fff
    position: relative
    padding-bottom: 40px
    padding-top: 40px


@mixin rwd768-wide-bg__white()
  .wide-bg__white
    padding-top: 100px
    padding-bottom: 100px
    &:before
      content: ''
      position: absolute
      left: 0
      top: 0
      border-left: 100vw solid transparent
      border-bottom: 100px solid #fff
      z-index: 1
    &:after
      content: ''
      position: absolute
      left: 0
      bottom: 0
      border-left: 100vw solid transparent
      border-top: 100px solid #fff
      z-index: 1

// ------------------------------------------------------------
// ------------------------- yellow ---------------------------
// ------------------------------------------------------------
.wide-bg__yellow
  position: relative
  &__inner
    background: #ffd500
    position: relative
    padding-bottom: 40px
    padding-top: 40px


@mixin rwd768-wide-bg__yellow()
  .wide-bg__yellow
    &:before
      content: ''
      position: absolute
      left: 0
      top: 0
      border-right: 100vw solid transparent
      border-top: 100px solid #fff
      z-index: 1
    &:after
      content: ''
      position: absolute
      left: 0
      bottom: 0
      border-right: 100vw solid transparent
      border-bottom: 100px solid #fff
      z-index: 1

    &__inner
      padding-top: 130px
      padding-bottom: 150px
      margin-top: -118px
      .container
        padding-top: 60px


// ------------------------------------------------------------
// -------------------------- green ---------------------------
// ------------------------------------------------------------
.wide-bg__green
  background: #2c9e3d
  background: -moz-linear-gradient(-45deg, #2c9e3d 0%, #bbde6e 100%)
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#2c9e3d), color-stop(100%,#bbde6e))
  background: -webkit-linear-gradient(-45deg, #2c9e3d 0%,#bbde6e 100%)
  background: -o-linear-gradient(-45deg, #2c9e3d 0%,#bbde6e 100%)
  background: -ms-linear-gradient(-45deg, #2c9e3d 0%,#bbde6e 100%)
  background: linear-gradient(135deg, #2c9e3d 0%,#bbde6e 100%)
  position: relative
  &__inner
    position: relative


@mixin rwd768-wide-bg__green()
  .wide-bg__green
    &:before
      content: ''
      position: absolute
      left: 0
      top: 0
      border-right: 100vw solid transparent
      border-top: 100px solid #fff
      z-index: 1
    &:after
      content: ''
      position: absolute
      left: 0
      bottom: 0
      border-right: 100vw solid transparent
      border-bottom: 100px solid #fff
      z-index: 1
    &__inner
      position: relative
      z-index: 2

// ------------------------------------------------------------
// -------------------------- brown ---------------------------
// ------------------------------------------------------------
.wide-bg__brown
  background: #f8ab00
  background: -moz-linear-gradient(-45deg, #f8ab00 0%, #765100 100%)
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f8ab00), color-stop(100%,#765100))
  background: -webkit-linear-gradient(-45deg, #f8ab00 0%,#765100 100%)
  background: -o-linear-gradient(-45deg, #f8ab00 0%,#765100 100%)
  background: -ms-linear-gradient(-45deg, #f8ab00 0%,#765100 100%)
  background: linear-gradient(135deg, #f8ab00 0%,#765100 100%)
  position: relative
  &__inner
    position: relative
    padding-bottom: 20px
    padding-top: 20px


@mixin rwd768-wide-bg__brown()
  .wide-bg__brown
    &:before
      content: ''
      position: absolute
      left: 0
      top: 0
      border-right: 100vw solid transparent
      border-top: 100px solid #fff
      z-index: 1
    &__inner
      position: relative
      padding-bottom: 50px
      padding-top: 120px
      z-index: 2


.wide-bg-bxslider
  position: relative
  transition: all .5s ease
  &__inner
    position: relative
@mixin rwd768-wide-bg-bxslider()
  .wide-bg-bxslider
    &:before
      content: ''
      position: absolute
      left: 0
      top: 0
      border-right: 100vw solid transparent
      border-top: 100px solid #fff
      z-index: 1
    &:after
      content: ''
      position: absolute
      left: 0
      bottom: 0
      border-right: 100vw solid transparent
      border-bottom: 100px solid #fff
      z-index: 1
    &__inner
      position: relative
      z-index: 2

