.wide-img__left
  position: relative
  height: 803px
  z-index: 2
  &--inner
    position: absolute
    left: -455px
    height: 803px
    width: 747px
@mixin rwd992-wide-img__left()
  .wide-img__left
    &--inner
      left: -365px
@mixin rwd1200-wide-img__left()
  .wide-img__left
    &--inner
      left: -270px


.wide-img__right
  position: relative
  height: 689px
  z-index: 2
  &--inner
    position: absolute
    right: -600px
    height: 689px
    width: 905px
@mixin rwd992-wide-img__right()
  .wide-img__right
    &--inner
      right: -485px
@mixin rwd1200-wide-img__right()
  .wide-img__right
    &--inner
      right: -415px