---
layout: default.hbs
---
<div class="wide-bg--overflow">
    <div class="wide-bg__blue">
        <div class="container content-style">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-5">
                    <h1>Co robimy?</h1>
                    <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </strong><br><br></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fuunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                </div>
                <div class="col-lg-7">
                    <div class="wide-img__right hidden-xs">
                        <div class="wide-img__right--inner">
                            <img class="lazyload" data-img-url="../images/macbook.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="wide-bg--overflow wide-bg__white-straight wide-bg--lg-voffset-170 animate-rotate">
    <div class="wide-bg__white-straight__inner">
        <div class="container content-style">
            <div class="row">
                <div class="col-xs-12 col-md-4 text-center text-intro animate-rotate-single">
                    <i class="big-icon big-icon__gear center-block"></i>
                    <h4>Programowanie</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dovoluptatem quia voluptas sit aspernatur aut odit</p>
                </div>
                <div class="col-xs-12 col-md-4 text-center text-intro animate-rotate-single">
                    <i class="big-icon big-icon__setup center-block"></i>
                    <h4>Strony internetowe</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dovoluptatem quia voluptas sit aspernatur aut odit</p>
                </div>
                <div class="col-xs-12 col-md-4 text-center text-intro animate-rotate-single">
                    <i class="big-icon big-icon__link center-block"></i>
                    <h4>Aplikacje</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dovoluptatem quia voluptas sit aspernatur aut odit</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="wide-bg--overflow wide-bg__yellow voffset5">
    <div class="wide-bg__yellow__inner">
        <div class="container content-style">
            <div class="row">
                <div class="col-sm-6 col-lg-7">
                    <div class="wide-img__left hidden-xs">
                        <div class="wide-img__left--inner">
                            <img class="lazyload" data-img-url="../images/ipad.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-5">
                    <h1>Co robimy?</h1>
                    <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </strong><br><br></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fuunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="wide-bg--overflow wide-bg__white-straight wide-bg--lg-voffset-170 animate-rotate">
    <div class="wide-bg__white-straight__inner">
        <div class="container content-style">
            <div class="row">
                <div class="col-xs-12 col-md-4 text-center text-intro animate-rotate-single">
                    <i class="big-icon big-icon__person1 center-block"></i>
                    <h4>Zdolny kumpel</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dovoluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
                </div>
                <div class="col-xs-12 col-md-4 text-center text-intro animate-rotate-single">
                    <i class="big-icon big-icon__person2 center-block"></i>
                    <h4>Łukasz Jurys</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dovoluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
                </div>
                <div class="col-xs-12 col-md-4 text-center text-intro animate-rotate-single">
                    <i class="big-icon big-icon__person3 center-block"></i>
                    <h4>Tajemniczy Gonzo</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dovoluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wide-bg--overflow voffset5 wide-bg-bxslider">
    <div class="wide-bg__green__inner">
        <div class="container content-style">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Portfolio</h1>

                    <div  class="portfolio-slider bxslider-custom">
                        <span id="image-slider-ce-prev" class="bxslider-custom__nav bxslider-custom__nav--prev"></span>
                        <ul id="portfolio-slider">
                            <li data-bg='["red", "white"]'>
                                <img src="../images-content/portfolio1.png" alt="" />
                            </li>
                            <li data-bg='["pink", "white"]'>
                                <img src="../images-content/portfolio2.png" alt="" />
                            </li>
                            <li data-bg='["yellow", "white"]'>
                                <img src="../images-content/portfolio3.png" alt="" />
                            </li>
                        </ul>
                        <span id="image-slider-ce-next" class="bxslider-custom__nav bxslider-custom__nav--next"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wide-bg--overflow wide-bg__white-straight voffset5">
    <div class="container content-style">
        <div class="row">
            <div class="col-xs-12">
                <h1>Technologia</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dovoluptatem quia voluptas sit aspernatur aut odit</p>
            </div>
        </div>
    </div>
</div>

<div class="wide-bg--overflow wide-bg__brown voffset5">
    <div class="wide-bg__brown__inner">
        <div class="container content-style">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Kontakt</h1>
                </div>
            </div>
            <div class="row voffset5 js-animation-note">
                <div class="col-xs-12 col-sm-6">
                    {{>note}}
                </div>
                <div class="col-xs-12 col-sm-5">
                    <div class="contact-form">
                        <form action="">
                            <input type="text" placeholder="e-mail"/>
                            <textarea name="" id="" cols="30" rows="10" placeholder="napisz do nas wiadomość"></textarea>
                            <input type="submit" value="WYŚLIJ" class="pull-right"/>
                        </form>
                        <div class="contact-form__phone visible-lg visible-md">
                            <img src="../images/iphone.png" alt="" width="208" height="398"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>