<div class="container main-footer">
    <div class="row">
        <div class="hidden-xs col-sm-2 col-md-2">
            <a href="/">
                <img src="../images/logo.png" alt="" width="136" height="23"/>
            </a>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-7 text-center">
            <ul class="main-menu main-menu--desktop">
                <li>
                    <a href="/">OFERTA</a>
                </li>
                <li>
                    <a href="/">PORTFOLIO</a>
                </li>
                <li>
                    <a href="/">KOMPETENCJE</a>
                </li>
                <li>
                    <a href="/">PARTNERZY</a>
                </li>
                <li>
                    <a href="/">KONTAKT</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-social col-md-3">
            <ul class="social">

                <li><a href="/"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="/"><i class="fa fa-twitter-square"></i></a></li>
                <li><a href="/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="/"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
    </div>
</div>




