<div id="sticky-header" class="sticky-header">
    <div class="container main-header">
        <div class="row">
            <div class="col-xs-3 col-md-2 col-lg-2">
                <a href="/">
                    <img src="../images/logo.png" alt="" width="136" height="23"/>
                </a>
            </div>
            <div class="col-xs-9 col-md-7 col-lg-7 text-right">
                <ul class="main-menu main-menu--desktop visible-md visible-lg">
                    <li>
                        <a href="/" class="main-menu--active">OFERTA</a>
                    </li>
                    <li>
                        <a href="/">PORTFOLIO</a>
                    </li>
                    <li>
                        <a href="/">KOMPETENCJE</a>
                    </li>
                    <li>
                        <a href="/">PARTNERZY</a>
                    </li>
                    <li>
                        <a href="/">KONTAKT</a>
                    </li>
                </ul>
                <div class="main-header-toggle hidden-md hidden-lg pull-right" id="main-header-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="col-md-2 col-lg-2 text-right visible-md visible-lg">
                <ul class="social">
                    <li><a href="/"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="/"><i class="fa fa-twitter-square"></i></a></li>
                    <li><a href="/"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="/"><i class="fa fa-linkedin-square"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="main-menu main-menu--mobile" id="main-header-menu-mobile">

                    <li>
                        <a href="/">OFERTA</a>
                    </li>
                    <li>
                        <a href="/">PORTFOLIO</a>
                    </li>
                    <li>
                        <a href="/">KOMPETENCJE</a>
                    </li>
                    <li>
                        <a href="/">PARTNERZY</a>
                    </li>
                    <li>
                        <a href="/">KONTAKT</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



