<div class="note">
    <div class="note__inner" style="background-image: url('../images/note.png')">
        <p>
        DevHero Łukasz Jurys<br><br>

        tel: 797 717 513<br>
        biuro@devhero.pl<br><br>

        ul. Gdańska 145<br>
        Bydgoszcz 85-022<br><br>

        NIP: 5542701859<br>
        REGON: 341572726
        </p>
    </div>
</div>
