.container-subpage__holder
  background-position: center top
  background-repeat: no-repeat
.container-subpage
  background-position: center bottom
  background-repeat: no-repeat
  padding-bottom: 0
  padding-top: 580px



@mixin rwd-max-991-container-subpage()
  .container-subpage
    background-image: none !important
    > .wide-bg__white
      padding-bottom: 0
      &:before
        display: none
      &:after
        display: none

@mixin rwd992-container-subpage()
  .container-subpage
    padding-bottom: 540px