<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>devhero</title>
    {{>__stylesheet-common}}
</head>
<body class="{{viewName}}">
    {{>_head}}
    {{> body }}
    {{>_foot}}
    {{>__javascript-common}}
</body>
</html>