/*----------------------------------------------------------------*/
/*---------------------- bxslider custom -------------------------*/
/*----------------------------------------------------------------*/
.bx-wrapper
  position: relative
  margin: 0 auto
  padding: 0
  box-sizing: initial
  *zoom: 1

  img
    margin: 0 auto
    max-width: 100%
    display: block
  .bx-viewport
    //-moz-box-shadow: 0 0 5px #ccc
    //-webkit-box-shadow: 0 0 5px #ccc
    //box-shadow: 0 0 5px #ccc
    //border: 5px solid #fff
    //left: -5px
    //background: #fff
    /*fix other elements on the page moving (on Chrome)
    -webkit-transform: translatez(0)
    -moz-transform: translatez(0)
    -ms-transform: translatez(0)
    -o-transform: translatez(0)
    transform: translatez(0)


  .bx-loading
    min-height: 50px
    //background: url(../images/bxslider/bx_loader.gif) center center no-repeat white
    height: 100%
    width: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 2000
  .bx-pager
    text-align: center
    font-size: .85em
    font-family: Arial
    font-weight: bold
    color: #666
    //padding-top: 20px
    .bx-pager-item
      display: inline-block
      *zoom: 1
      *display: inline
  .bx-controls-auto .bx-controls-auto-item
    display: inline-block
    *zoom: 1
    *display: inline
  .bx-pager.bx-default-pager a
    background: #c00d08
    border: 2px solid #c00d08
    text-indent: -9999px
    display: block
    width: 12px
    height: 12px
    margin: 0 4px
    outline: 0
    -moz-border-radius: 15px
    -webkit-border-radius: 15px
    border-radius: 15px
    &:hover, &.active
      border: 2px solid #c00d08
      background: #ffffff
  .bx-controls-direction a
    position: absolute
    top: 50%
    margin-top: -16px
    outline: 0
    width: 32px
    height: 32px
    text-indent: -9999px
    z-index: 99
    &.disabled
      display: none
  .bx-controls-auto
    text-align: center
    .bx-start
      display: block
      text-indent: -9999px
      width: 10px
      height: 11px
      outline: 0
      background: url(../images/bxslider/controls.png) -86px -11px no-repeat
      margin: 0 3px
      &:hover, &.active
        background-position: -86px 0
    .bx-stop
      display: block
      text-indent: -9999px
      width: 9px
      height: 11px
      outline: 0
      background: url(../images/bxslider/controls.png) -86px -44px no-repeat
      margin: 0 3px
      &:hover, &.active
        background-position: -86px -33px
  .bx-controls.bx-has-controls-auto.bx-has-pager
    .bx-pager
      text-align: left
      width: 80%
    .bx-controls-auto
      right: 0
      width: 35px
  .bx-caption
    position: absolute
    bottom: 0
    left: 0
    background: #666
    background: rgba(80, 80, 80, 0.75)
    width: 100%
    span
      color: #fff
      font-family: Arial
      display: block
      font-size: .85em
      padding: 10px

.bx-has-pager
  padding-top: 20px


.bxslider-custom
  position: relative
  padding: 70px 30px
  ul
    margin: 0
    padding: 0
  li
    margin: 0
    padding: 0
    list-style-type: none
  &__nav
    a
      font-size: 28px
      color: #fff
      cursor: pointer
      background-image: url(../images/icons.png)
      background-repeat: no-repeat
      position: absolute
      display: block
      text-indent: -9999em
      top: 50%
      height: 25px
      width: 25px
      -webkit-transform: translateZ(0)
      transform: translateZ(0)
      box-shadow: 0 0 1px rgba(0, 0, 0, 0)
      -webkit-backface-visibility: hidden
      backface-visibility: hidden
      -moz-osx-font-smoothing: grayscale
      &:hover
        -webkit-animation-name: hvr-pop
        animation-name: hvr-pop
        -webkit-animation-duration: 0.3s
        animation-duration: 0.3s
        -webkit-animation-timing-function: linear
        animation-timing-function: linear
        -webkit-animation-iteration-count: 1
        animation-iteration-count: 1
    &--prev
      a
        left: 0
        background-position: -25px 0
    &--next
      a
        background-position: 0 0
        right: 0

@-webkit-keyframes hvr-pop
  50%
    -webkit-transform: scale(1.2)
    transform: scale(1.2)

@keyframes hvr-pop
  50%
    -webkit-transform: scale(1.2)
    transform: scale(1.2)
