.contact-form
  position: relative
  width: 100%
  input[type="text"], textarea
    display: block
    border: 1px solid #fff578
    width: 100%
  input[type="text"]
    margin-bottom: 26px
    height: 37px
  textarea
    margin-bottom: 26px
    height: 305px
  input[type="submit"]
    background: #ffd500
  &__phone
    position: absolute
    top: 0
    right: -296px