.note
  position: relative
  margin-bottom: 30px
  height: 487px
  width: 360px
  &__inner
    position: absolute
    left: -180px
    background-position: 0 0
    background-repeat: no-repeat
    padding-top: 72px
    padding-left: 340px
    height: 487px
    width: 550px
    p
      line-height: 1.43

@mixin rwd768-note()
  .note
    margin-bottom: 0