.social
  margin: 0
  padding: 0
  li
    display: inline
    padding-right: 8px
    &:last-child
      padding-right: 0
  a
    font-size: 20px
    color: #000
    text-decoration: none
    -webkit-transition: color .2s
    transition: color .2s
    &:hover
      color: #ffd500